EuloWarBean/GestionPerfilUsuario.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. -->
<definitions targetNamespace="http://webservices/" name="GestionPerfilUsuario" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:tns="http://webservices/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd">
  <types>
    <xsd:schema>
      <xsd:import namespace="http://webservices/" schemaLocation="GestionPerfilUsuario_schema1.xsd"/>
    </xsd:schema>
  </types>
  <message name="hello">
    <part name="parameters" element="tns:hello"/>
  </message>
  <message name="helloResponse">
    <part name="parameters" element="tns:helloResponse"/>
  </message>
  <message name="cambiarPassword">
    <part name="parameters" element="tns:cambiarPassword"/>
  </message>
  <message name="cambiarPasswordResponse">
    <part name="parameters" element="tns:cambiarPasswordResponse"/>
  </message>
  <message name="restablecerPassword">
    <part name="parameters" element="tns:restablecerPassword"/>
  </message>
  <message name="restablecerPasswordResponse">
    <part name="parameters" element="tns:restablecerPasswordResponse"/>
  </message>
  <message name="eliminarCuenta">
    <part name="parameters" element="tns:eliminarCuenta"/>
  </message>
  <message name="eliminarCuentaResponse">
    <part name="parameters" element="tns:eliminarCuentaResponse"/>
  </message>
  <portType name="GestionPerfilUsuario">
    <operation name="hello">
      <input wsam:Action="http://webservices/GestionPerfilUsuario/helloRequest" message="tns:hello"/>
      <output wsam:Action="http://webservices/GestionPerfilUsuario/helloResponse" message="tns:helloResponse"/>
    </operation>
    <operation name="cambiarPassword">
      <input wsam:Action="http://webservices/GestionPerfilUsuario/cambiarPasswordRequest" message="tns:cambiarPassword"/>
      <output wsam:Action="http://webservices/GestionPerfilUsuario/cambiarPasswordResponse" message="tns:cambiarPasswordResponse"/>
    </operation>
    <operation name="restablecerPassword">
      <input wsam:Action="http://webservices/GestionPerfilUsuario/restablecerPasswordRequest" message="tns:restablecerPassword"/>
      <output wsam:Action="http://webservices/GestionPerfilUsuario/restablecerPasswordResponse" message="tns:restablecerPasswordResponse"/>
    </operation>
    <operation name="eliminarCuenta">
      <input wsam:Action="http://webservices/GestionPerfilUsuario/eliminarCuentaRequest" message="tns:eliminarCuenta"/>
      <output wsam:Action="http://webservices/GestionPerfilUsuario/eliminarCuentaResponse" message="tns:eliminarCuentaResponse"/>
    </operation>
  </portType>
  <binding name="GestionPerfilUsuarioPortBinding" type="tns:GestionPerfilUsuario">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
    <operation name="hello">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="cambiarPassword">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="restablecerPassword">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="eliminarCuenta">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
  </binding>
  <service name="GestionPerfilUsuario">
    <port name="GestionPerfilUsuarioPort" binding="tns:GestionPerfilUsuarioPortBinding">
      <soap:address location="REPLACE_WITH_ACTUAL_URL"/>
    </port>
  </service>
</definitions>

